h1 {
  color: beige;
  text-align: center;
  font-family: "sofia", sans-serif;
  background-color: transparent;
  margin-bottom: 50px;
  font-size: 50px;
  margin-top: 50px;
  margin-right: 30%;
}
p:hover {
  /* la till denna för att sidan skulle va lite roligare*/
  transform: translateX(200px);
}
p {
  transition: transform 3s;
}
.logo {
  /*logga med mitt namn */
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

body {
  background-image: url(img/minbild.jpeg); /* min bakgrunds bild och styling */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Två kolumner, förhållandet 1:2 */
  grid-gap: 20px; /* Avstånd mellan gridceller */
}

img {
  /* här är min bild, där jag gjorde den rund och bilden större */
  width: 100px;
  border-radius: 50%;
  margin-left: 30%;
  transform: scale(1.5);
}

.navbar ul {
  /* här styla jag menyn */
  list-style: none;
  background: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: -30px;

  /* såg till så att menyn hamnade bredvid varandra  */
  display: flex;
  flex-direction: row;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  /* här styla jag själva knpptrycken i menyn */
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  padding: 25px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.navbar a:hover {
  /* här la ja till så menyn blir orange när jag lägger musen */
  background: orange;
}
.home-content {
  max-width: 600px;
}
.home-content h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: beige;
}
.home-content h2:hover {
  /*här har jag gjort så när man lägger musen på texten så lyser texten orange*/
  color: orange;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: beige;
  transition: font-size 0.3s;
}
.home-content h3:hover {
  /* här har jag animerat texten*/
  font-size: 42px;
}
.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  color: beige;
  border: black;
  border-radius: 300px;
}
.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.btn-box a {
  /* här jobbade jag med loggorna (X och kontakt)  */
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: beige;
  border: 2px solid beige;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: beige;
  padding-left: 20px;
}
.btn-box a:hover {
  color: orange;
}
.home-sci {
  grid-area: home-sci;
  display: block;
  justify-content: space-between;
  grid-column: 2; /* Placerar denna i kolumn 2*/
  align-items: center;
  margin-top: 2%;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid beige;
  border-radius: 50%;
  font-size: 20px;
  color: beige;
}
.home-sci a:hover {
  color: orange;
}
.home {
  grid-column: 2; /* Placera "home" i andra kolumnen */
}

@media screen and (max-width: 767px) {
  body {
    padding: 20px;
    display: block;
    height: 100vh;
    background-attachment: fixed; /* testade mig fram men dennna gjorde så jag fick till så att backgrunden täkte sidan på mobil */
  }
  h1 {
    font-size: 30px;
    margin-left: 20%;
  }
  .logo {
    font-size: 20px;
  }
  .home-content h2 {
    font-size: 36px;
  }
  .home-content h3 {
    font-size: 24px;
  }
  .home-content p {
    font-size: 14px;
    border-radius: 10px;
  }
  .text.ruta {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    position: relative;
  }
  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: auto;
    color: white;
    border-radius: 10px;
  }
  .navbar {
    background-size: cover;
    background-color: transparent;
    position: relative;
    width: 98vw; /* såg till så att bakgrunden täckte texten */
  }
  .navbar #myLinks {
    display: none;
  }
  .navbar ul {
    /* såg till så att menyn staplades bredvid varanadra  */
    display: flex;
    flex-direction: row;
  }
  .navbar a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
  }
  .navbar a.icon {
    float: right;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: orange;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
  label {
    font-size: 20px;
    color: red;
  }
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
.navbar .active {
  display: none;
}
@media screen and (max-width: 1024px) {
  .box {
    display: block;
  }

  body {
    background-size: cover;
    height: 99vh;
  }
}
@media screen and (max-width: 1025px) {
  .box {
    display: block;
  }
  body {
    height: 99vh;
    background-attachment: fixed;
  }
}
