body {
  background-image: url(img/minbild.jpeg);
}
h1 {
  margin-top: 5%;
  font-size: 24px;
  color: #333;
  text-align: center;
}

p {
  font-size: 18px;
  color: #666;
  text-align: center;
}

/* Kontaktinformation */
.Kontakt-info {
  margin: 20px 0;
  text-align: center;
}
input {
  width: 100px;
}

.Kontakt-uppgift {
  font-size: 16px;
  color: #333;
}

/* Formulärstilar */
.form {
  margin-top: 20px;
}

.text-ruta {
  width: 30%;
  margin-left: 35%;
}

label {
  font-size: 16px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.navbar ul {
  list-style: none;
  background: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: -30px;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  padding: 25px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.navbar a:hover {
  background: orange;
}
@media screen and (max-width: 767px) {
  /* Justerar typsnittsstorlekar och marginaler för mindre skärmar */
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .text-ruta {
    margin-bottom: 10px;
    margin-left: 30%;
  }
  .navbar ul {
    /* såg till så att menyn hamnade bredvid varandra  */
    display: flex;
    flex-direction: row;
  }
}
